.values {
  padding: 40px 0;

  @include mobile() {
    padding: 32px 0;
  }
}

.values__grid {
  display: flex;
  flex-wrap: wrap;

  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));

  @include mobile() {
    gap: 24px 8px;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
